#dateFormDiv {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  .dateForm {
    background: linear-gradient(
      148deg,
      rgba(181, 150, 184, 1) 16%,
      rgba(177, 147, 183, 1) 48%,
      rgba(203, 170, 187, 1) 82%
    );
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em; 
    padding: 5em 8em;  
    #dateFormLabel {
      font-family: "FairyStrange";
    }
    .pickDate {      
      background: $light;
      font-style: italic;      
    }   
    .dateFormBtns {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 0.5em;
      margin-top: 0.75em;
      button {
        font-family: "FairyStrange";
        font-size: small;
        padding: 1em;
      }
    }
  }
}
