#gridSpan {
  width: 100%;
  padding-bottom: 3em;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 85% 85% / 10%;
  background-image: linear-gradient(135deg, $secondary 10%, $light 50%);
  #doniczka {
    // border: $border4;
    flex: 1;
    display: flex;
    flex-direction: column;
    .doniczkasRows {
      // border: $border5;
      &:first-of-type {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      &:nth-of-type(2n) {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }
      &:nth-of-type(3n) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2em;
      }
    }
    #position8 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-left: 5em;
    }
  }
  #doniczkasSide {
    // border: $border1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7em;
    padding-top: 5em;
    #position12 {
      // border: $border3;
      // padding-left: 3em;
    }
  }

  #portraitTitle {
    padding-top: 2em;
    margin-bottom: 1em;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: white;
  }

  .gridBtns {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
