#shadowGrid {
  display: flex;
  flex-direction: row;
  width: 65vw;
  align-items: center;
  gap: 1em;
  border: solid 1px $info;
  border-radius: 10%;
  padding: 3em 7em;
  #shadow {
    flex: 1;
    display: flex;
    flex-direction: column;
    .shadowRows {
      &:first-of-type {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
      &:nth-of-type(2n) {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }
      &:nth-of-type(3n) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
    #positionH {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-left: 5em;
    }
  }
  #shadowSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #positionG2 {
      padding-left: 5em;
    }
  }
}

@media only screen and (max-width: 1050px) {
  #shadowGrid {
    width: 85vw;
    padding: 3em 5em;
  }
}

@media only screen and (max-width: 600px) {
  h4 {
    font-size: small;
  }
  #shadowGrid {
    padding: 2em 2em;
  }
}

@media only screen and (max-width: 290px) {
  #shadowGrid {
    width: 90vw;
  }
}
