$border1: 2px dashed red;
$border2: 2px dotted rgb(207, 201, 30);
$border3: 2px dashed rgb(50, 176, 22);
$border4: 2px dotted rgb(22, 45, 176);
$border5: 2px dashed rgb(163, 22, 176);

$primary: #bfb1f467;
$secondary: #a484c7;
$success: #61447e;
$info: #61447e;
$warning: #61447e;
$danger: #68324a;
$light: #f5f3ff94;
$dark: #360f2a;


@import "./mediaQueries";
@import "./tppHeader";
@import "./dateForm";
@import "./doniczka";
@import "./singleCard";


@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  color: $warning;
}

.App {
  // border: $border1;
  margin: auto;

  #lifeCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60vh;
    margin-bottom: 30vh;
  }
  #gridOne {
    // border: $border3;
    display: flex;
    flex-direction: row;
    max-width: 90%;
    margin: auto;
    gap: 1em;
  }
}

#footerDiv {
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(135deg, $secondary 10%, $light 50%);
  height: 5vh;
  background-size: cover;
  padding: 3em;
  margin-top: 3em;
}
