@font-face {
  font-family: "FairyStrange";
  src: local("FairyStrange"), url("./fonts/FairyStrange.ttf") format("truetype");
}

$border1: 2px dashed red;
$border2: 2px dotted rgb(207, 201, 30);
$border3: 2px dashed rgb(50, 176, 22);
$border4: 2px dotted rgb(22, 45, 176);
$border5: 2px dashed rgb(163, 22, 176);

$light: #cbaabb;
$primary: #b193b7;
$secondary: #401d3e;
$info: #46404c;
$dark: #29162a;

@import "./TPP";
@import "./dateForm";
@import "./lifeGrid";
@import "./shadowGrid";
@import "./singleCard";
@import "./lifeCard";

@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  color: $dark;
}

.App {
  margin: auto;
  font-family: Georgia, "Times New Roman", Times, serif;
}

footer {
  background: linear-gradient(
    148deg,
    rgba(181, 150, 184, 1) 16%,
    rgba(177, 147, 183, 1) 48%,
    rgba(203, 170, 187, 1) 82%
  );
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: $info;
  p {
    padding-top: 2em;
    padding-right: 1em;
  }
}
